.Checkbox {
    position: relative;
    display: inline-block;
    font-size: 1em;

    & input {
        -webkit-appearance: none;
        cursor: pointer;
        opacity: 0;
        position: absolute;
    }

    & .Checkbox-label {
        font-weight: 300;
        font-family: 'lato';
        position: relative;
        cursor: pointer;
        transition: opacity .5s;
        display: inline-block;

        &:after {
            opacity: 0;
            content: "\63";
            font-family: "freenas";
            font-size: 1.3em;
            color: var(--blue-lighten-2);
            position: absolute;
            top:    .05em;
            left:   .025em;
            right:  0;
            width: 1.1em;
            height: 1em;
            text-align: center;
            transition: color .25s;
        }

        &:before {
            content: '';
            vertical-align: middle;
            box-sizing: border-box;
            width:  1.5em;
            height: 1.5em;
            margin-right: .5em;
            margin-top: -0.1em;
            display: inline-block;
            cursor: pointer;
            background: rgba(0, 0, 0, .25);
            border-radius: 4px;
            border:         1px solid transparent;
            border-top:     1px solid rgba(0, 0, 0, .23);
            border-bottom:  1px solid rgba(255, 255, 255, .15);
            transition-property: border-color, box-shadow;
            transition-duration: .25s;
        }
    }
}

.Checkbox--light {

    & .Checkbox-label:before {
        background: var(--grey-3);
        border-top:     1px solid rgba(0, 0, 0, .23);
        border-bottom:  1px solid rgba(255, 255, 255, 1);
    }
}

.Checkbox input:checked + label:after { opacity: 1; }

.Checkbox input:focus + label:before  { @apply --input-focus; }

/* Disabled State */

.Checkbox input[disabled="disabled"] + label {
    opacity: .5;
}

.Checkbox input[disabled="disabled"] + label:before {
    border-color: transparent;
    box-shadow: none;
}

.Checkbox input[disabled="disabled"] + label:after {
    color: #666;
}
