.Checkbox {
    position: relative;
    display: inline-block;
    font-size: 1em;

    &.has-error .ControlError { display: block; }

    & input {
        -webkit-appearance: none;
        cursor: pointer;
        opacity: 0;
        position: absolute;

        &:checked + label:after   { opacity: 1; }
        &:focus +   label:before  { @apply --input-focus; }

        /* disable state */
        &[disabled="disabled"] + label {
            opacity: .5;
            cursor: not-allowed;
        }

        &[disabled="disabled"] + label:before {
            border-color: transparent;
            box-shadow: none;
        }

        &[disabled="disabled"] + label:after {
            color: #666;
        }
    }

    & .Checkbox-label {
        position: relative;
        cursor: pointer;
        transition: opacity .5s;
        display: inline-block;
        color: var(--text-color--dim);

        /* checkbox container */

        &:before {
            @apply --input-field;
            content: '';
            vertical-align: middle;
            width:  1.5em;
            height: 1.5em;
            margin-right: .5em;
            display: inline-block;
            cursor: pointer;
        }

        /* checkmark */

        &:after {
            opacity: 0;
            content: "\63";
            font-family: "freenas";
            font-size: 1.3em;
            color: var(--blue-lighten-2);
            position: absolute;
            top:    .05em;
            left:   .025em;
            right:  0;
            width: 1.1em;
            height: 1em;
            text-align: center;
            transition: color .25s;
        }
    }
}

.Checkbox--light {

    & .Checkbox-label:before {
        background: var(--grey-3);
        border-top:     1px solid rgba(0, 0, 0, .23);
        border-bottom:  1px solid rgba(255, 255, 255, 1);
    }
}
