.TextField {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    font-weight: 300;
    margin:     0;
    font-size:   1em;
    line-height: 2em;
    height:      2em;
    outline: none;
    color: #FFF;
    padding: 0 .25em .1em .5em;
    width: 100%;
    background: rgba(0, 0, 0, .25);
    border-radius: .3em;
    border:         1px solid transparent;
    border-top:     1px solid rgba(0, 0, 0, .23);
    border-bottom:  1px solid rgba(255, 255, 255, .15);
    transition-property: background, border-color, opacity;
    transition-duration: .25s;

    &:focus { border: 1px solid #2B9CD8; }

    &.montage--disabled {
        background: rgba(0, 0, 0, .1);
        border-color: transparent;
        opacity: .5;
    }

    &[readonly="readonly"] {
        background: none;
        border: none;
        padding: 0;
    }
}

