.TextField {

    &.has-error .ControlError {
        display: block;
    }
}

.TextField-input {
    @apply --input-field;

    @nest .TextField.has-error & {
        @apply --input-error;
    }

    &[readonly="readonly"] {
        background-color: transparent;
        border: none;
        padding: 0;
    }
}
