.TextField-input {
    @apply --input-field;

    &.has-error {
        @apply --input-error;
    }

    &[readonly="readonly"] {
        background-color: transparent;
        border: none;
        padding: 0;
    }
}
