.Select {
    position: relative;

    &.has-error .ControlError { display: block; }

    /* Disabled State */

    &.montage--disabled {
        border-color: transparent;
        opacity: .5;
    }

}

/* Naked Select Style overrides */


.Select-button {
    @apply --input-field;

    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding: 0 .25em .1em .5em;

    &:focus {
        @apply --input-focus;
    }

    @nest .Select.has-error & {
        @apply --input-error;
    }
}

.Select--naked .Select-button {
    background: none;
    border: none;

    &:hover { background: none; }

    & > button:not(.montage--disabled):hover {
        box-shadow:  0 0 0 1px #0095d5;
    }

    & .Select-icon {
        background: none;
        border: none;
    }

    & .Select-currentOption {
        flex: none;
    }
}

.Select-currentOption {
    position: absolute;
    left: .5rem;
    right: 2rem;
    top: 50%;
    transform: translateY(-50%);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
    align-self: baseline;
}

.Select-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: .25rem;
    top: 50%;
    margin-top: -.7rem;
    width:  1.4rem;
    height: 1.4rem;
    border-radius: 3px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .5);
    background-color: #666;
    background-image: linear-gradient(to bottom, #666, #505050);
    border-bottom:  1px solid rgba(0, 0, 0, .36);
    border-top:     1px solid rgba(255, 255, 255, .21);

    & svg {
        display: inline-block;
        width:  .9em;
        height: .9em;
    }

    @nest .Select-button.montage--disabled & {
        cursor: not-allowed;
    }
}

/* Options Drop Down */

.Select-options {
    background: rgba(90, 90, 90, 1);
}

.Select-option {
    padding: .25em .5em .25em 2em;
    font-weight: inherit;
    font-size: inherit;
    line-height: 1.25em;
    color: white;
    margin-top: -.05em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    &:active { background: #0095d5; }

    &.highlighted { background: #0095d5; }

    &.selected {
        padding-left: .7em;

        &:before {
            content: "\2713 ";
            margin-right: .5em;
        }
    }
}
