.Scrollbar{
    border-radius:9999px;
    z-index:2;
}

.ScrollbarHandle{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    -webkit-transition:opacity 300ms, width 200ms, height 200ms;
}

.Scrollbar.isAnimating .ScrollbarHandle{
    -webkit-transition:width 200ms, height 200ms, -webkit-transform 200ms;
    transition:width 200ms, height 200ms, -webkit-transform 200ms;
    transition:width 200ms, height 200ms, transform 200ms;
    transition:width 200ms, height 200ms, transform 200ms, -webkit-transform 200ms;
}

.Scrollbar.isAnimating .ScrollbarHandle:before,
.is-scrolling .ScrollbarHandle:before{
    opacity:1;
    -webkit-transition:opacity .2s;
    transition:opacity .2s;
}

.ScrollbarHandle:before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    border-radius:9999px;
    background-color:#aaa;
    border:1px solid #1A1A1A;
    opacity:0;
    -webkit-transition:opacity .5s 1s;
    transition:opacity .5s 1s;
}

.ScrollbarHandle:active:before{
    background-color:#ccc;
}
