@keyframes spin {
    0%   { transform: rotate(0);}
    100% { transform: rotate(360deg);}
}

@keyframes pulse {
    0%   {opacity: 0;}
    100% {opacity: 1;}
}

.Progress {
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;

    & svg {
        right: 0;
        width:  1.4em;
        height: 1.4em;
    }
}

.Progress-wrapper {
    flex: 1;
    height: .5em;
    position: relative;
    background-color: #DFE4E4;
}

.Progress-bar {
    position: absolute;
    top:    0;
    left:   -1px;
    right:  -1px;
    bottom: 0;
    background-color: var(--color-selected);
    transition: transform .25s ease-in-out;

    @nest .Progress.has-success & {
        background-color: var(--green);
    }

    @nest .Progress.has-error & {
        background-color: var(--red);
    }
}

.Progress-statusIcon {
    margin-left: .5rem;
    display: flex;
}

.Progress-active {
    display: flex;
    align-items: center;

    & svg {
        animation: spin 1s infinite linear;
    }
}

#pending-l,
#pending-c,
#pending-r {
    animation: pulse .5s linear infinite alternate;
}

#pending-c { animation-delay: .1s; }

#pending-r { animation-delay: .2s; }

.Progress-success {
    color: var(--green);
}
