.Progress {
    position: relative;
    height: .5em;
    background-color: #DFE4E4;
    overflow: hidden;
}

.Progress-bar {
    position: absolute;
    top:    0;
    left:   0;
    right:  0;
    bottom: 0;
    background-color: #1F88D2;
    transition: transform .25s ease-in-out;
}

