.MultipleSelectGrid{

}

.MultipleSelectGrid-options{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:start;
        -ms-flex-pack:start;
            justify-content:flex-start;
    -ms-flex-wrap:wrap;
        flex-wrap:wrap;
}

.MultipleSelectGrid-option{
    -webkit-box-flex:1;
        -ms-flex:1;
            flex:1;
    position:relative;
    padding:.5em;
    height:2.5em;
    line-height:1.5em;
    text-align:center;
    color:#939E9F;
    cursor:pointer;
}

.MultipleSelectGrid-option:first-child:nth-last-child(n+8),
.MultipleSelectGrid-option:first-child:nth-last-child(n+8) ~ .MultipleSelectGrid-option{
    -webkit-box-flex:0;
        -ms-flex:0;
            flex:0;
    min-width:2.5em;
}

.MultipleSelectGrid-option:hover{
    color:#fff;
    background-color:rgba(255,255,255,.1);
}

.MultipleSelectGrid-option.selected{
    color:#fff;
    background-color:#0C5688;
}

.MultipleSelectGrid-option:before{
    position:absolute;
    content:'';
    top:1px;
    left:1px;
    right:0px;
    bottom:0px;
    outline:1px solid #888;
}
