.Date { font-family: 'Lato', 'helvetica neue', 'helvetica', 'sans-serif'; }

.Date-calendar {
    max-width: 25em;
    position: absolute;
    top: 2em;
    right: 0;
    width: 100%;
    font-family: lato;
    font-weight: 200;
    color: #939E9F;
    background: #242628;
    opacity: 0;
    visibility: hidden;
    z-index: 100;
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: hidden;
    padding: 0.25em;
}

.Date-value:focus + .Date-calendar,
.Date-calendar:active,
.Date.is-calendar-shown .Date-calendar {
    visibility: visible;
    opacity: 1;
}

.DateCalendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2em;
}

.DateCalendar-header svg {
    height: 100%;
    width:  2em;
    padding: .5em;
    opacity: .5;
}

.DateCalendar-header svg:hover {
    background-color: rgba(255,255,255,.1);
    opacity: 1;
}

.DateCalendarHeader-decrement,
.DateCalendarHeader-decrement {
    outline: none;
}

.DateCalendarHeader-decrement {
    transform: rotate(180deg);
}

.DateCalendar-days,
.DateCalendar-daysHeader {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.DateCalendar-days {
    justify-content: space-between;
}

.DateCalendar-daysHeader div {
    width: calc(100% / 7);
    padding: 0 0.5em;
}
