.RadioButton {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
    width:  1.6em;
    height: 1.6em;
    border-radius: .8em;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    background: rgba(0, 0, 0, .25);
    border-top:     1px solid rgba(0, 0, 0, .23);
    border-bottom:  1px solid rgba(255, 255, 255, .15);
    transition-property: opacity, border-color;
    transition-duration: .25s;
}

/* $fix - Hit Area */

/*.RadioButton:after {
    content: '';
    position: absolute;
    padding: 1em;
    top:    50%;
    bottom: 0;
    right:  0;
    left:   50%;
    margin-top:  -1em;
    margin-left: -1em;
    outline: 1px solid red;
}*/

/* States */

.RadioButton.montage--disabled {
    pointer-events: none;
    border-color: transparent;
}

.RadioButton.montage--active:before,
.RadioButton.montage-RadioButton--checked:before {
    content: '';
    position: absolute;
    background: var(--green);
    height: .7em;
    width:  .7em;
    top: 50%;
    margin-top: -.4em;
    left: 50%;
    margin-left: -.35em;
    border-radius: 50%;
    background-color: var(--blue-lighten-2);
    box-shadow: 0 1px 1px rgba(0,0,0,.4);
    transition: background-color.25s;
}

.RadioButton.montage-RadioButton--checked.montage--disabled:before {
    background-color: transparent;
    box-shadow: none;
}
