.Button {
    @apply --button;

    & .Button-content {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.Button-label {
    @apply --button-label;
}

/* image */

.Button svg {
    margin-top: -1px;
    margin-right: .25em;
    max-height: 1.4em;
    max-width:  1.4em;
    vertical-align: middle;
    overflow: visible;

    @nest .Button.montage--disabled:active & {
        transform: translateY(0);
    }
}

.Button:not(.montage--disabled, .Button--naked):active > :not(.Button-label) {
    transform: translateY(.05em);
}

/* Button Group */

.Button-group .Button + .Button { margin-left: .5em;}

/* Button Types */

.Button--block { display: block; width: 100%; }
.Button--large { font-size: 1em; }

.Button--primary    { background-color: var(--blue); }
.Button--create     { background-color: var(--green); }

.Button--alert  {
    position: relative;
    color: var(--red);
    background: rgba(150, 36, 36,.1);

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: 1px solid var(--red);
        border-radius: inherit;
    }

    &:hover {
        color: var(--white);
        background: var(--red);
        box-shadow: none;
    }

    &.montage--disabled {
        color: var(--main-text-color);

        &:hover {
            background: var(--grey-1);
        }
    }

    &.montage--disabled:before {
        display: none;
    }
}

.Button--naked {
    background: none;
    box-shadow: none;
    border-radius: 0;

    &:hover  { box-shadow: none; }

    &:active { background: none; }
}

.Button--icon {
    min-width: 0;
    padding: 0;
    height: 2.5em;
    width: 2.5em;

    & svg { margin-right: 0 !important; }

    & .Button-label { display: none; }
}

.Button--loader {

    & .Button-content {
        position: relative;
        overflow: hidden;
    }

    &:after  {
        content: '';
        position: absolute;
        top:    0;
        left:   0;
        right:  0;
        bottom: 0;
        opacity: 0;
        visibility: hidden;
        border-radius: inherit;
        background: rgba(0,0,0,.35);
        transition: all .25s ease-in;
    }

    & .Button-label {
        position: relative;
        z-index: 1;
    }

    & svg {
        position: relative;
        z-index: 1;
        order: 1;
        margin-right: 0 !important;
        width: 0;
        transition: all .25s ease-in;
        animation: rotatedPulse 1.2s infinite;

        @nest .is-processing & {
            margin-left: .5rem;
            width: 2em;
        }
    }

    &.is-processing {

        &:after {
            opacity: 1;
            visibility: visible;
        }

        & svg {
            margin-left: .5rem;
            width: 2em;
        }
    }
}


