.Button {
    box-sizing: border-box;
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-size: .75em;
    font-weight: 300;
    min-width: 6em;
    padding: 0 1em;
    text-align: center;
    color: var(--main-text-color);
    background: white;
    border-radius: .3em;
    border: 0;
    margin: 0;
    cursor: pointer;
    -webkit-appearance: none;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .5);
    background-color: #666;
    background-image: linear-gradient(transparent, rgba(0,0,0,.2));
    box-shadow:
        inset 0 1px rgba(255, 255, 255, .15),
        inset 0 -1px rgba(0, 0, 0, .2),
        0 1px 2px rgba(0, 0, 0, .4);

    &:hover  {
        background-image: linear-gradient(transparent, transparent);
        box-shadow:
            inset 0 1px rgba(255, 255, 255, .15),
            inset 0 -1px rgba(0, 0, 0, .3),
            0 2px 6px 1px rgba(0, 0, 0, .4);
    }

    &:active {
        background-image: linear-gradient(rgba(0,0,0,.2), transparent);
        box-shadow:
            inset 0 -1px rgba(255, 255, 255, .1),
            inset 0 1px rgba(0, 0, 0, .3);
        outline: none;
        text-shadow: none;
    }

    &:focus { @apply --input-focus; }

    &.montage--disabled {
        opacity: .5;
        background-color: #666;
        box-shadow:
            inset 0 1px rgba(255, 255, 255, 0),
            inset 0 -1px rgba(0, 0, 0, 0),
            0 1px 2px rgba(0, 0, 0, 0);
        background-image: linear-gradient(transparent, transparent);
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0);
        cursor: default;
        cursor: not-allowed;
    }
}

.Button-label {
    display: inline-block;
    white-space: nowrap;
    vertical-align: middle;
    line-height: 2.5em;

    @nest .Button:not(.montage--disabled):active & {
        transform: translateY(.05em);
    }
}

/* image */

.Button > :not(.Button-label) {
    margin-top: -1px;
    margin-right: .25em;
    max-height: 1.4em;
    max-width:  1.4em;
    vertical-align: middle;

    @nest .Button.montage--disabled:active & {
        transform: translateY(0);
    }
}

.Button:not(.montage--disabled):active > :not(.Button-label) {
    transform: translateY(.05em);
}

/* Button Group */

.Button-group .Button + .Button { margin-left: .5em;}

/* Button Types */

.Button--block { display: block; width: 100%; }
.Button--large { font-size: 1em; }

.Button--primary    { background-color: #0378AA; }
.Button--create     { background-color: #1E963F; }

.Button--alert  {
    position: relative;
    color: #E0003A;
    background: rgba(150, 36, 36,.1);

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: 1px solid #E0003A;
        border-radius: inherit;
    }

    &:hover {
        color: #FFF;
        background: #E0003A;
        box-shadow: none;
    }

    &.montage--disabled {
        color: var(--main-text-color);

        &:hover {
            background: #666;
        }
    }

    &.montage--disabled:before {
        display: none;
    }
}

.Button--icon {
    min-width: 0;
    padding: 0;
    height: 2.5em;
    width:  2.5em;
    padding: .3em;

    & > * {
        margin: 0 !important;
    }

    & svg {
        height: 100%;
        width:  100%;
        max-height: none !important;
        max-width:  none !important;
    }

    & .Button-label {
        display: none;
    }
}


