.Time {}

.Time-container {
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Time Controls ---------------------------------- */

.Time-controls {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 1px;
    display: flex;
    cursor: default;
}

.Time-controls svg {
    height: 100%;
    width:  2em;
    padding: .5em;
    opacity: .5;
}

.Time-controls svg:hover {
    background-color: rgba(255,255,255,.1);
    opacity: 1;
}

.Time-input-decrement,
.Time-input-increment {
    outline: none;
}

.Time-input-decrement {
    transform: rotate(180deg);
}

.Time-input-increment {
    border-top-right-radius:    4px;
    border-bottom-right-radius: 4px;
}


/* Options ---------------------------------- */

.Time-optionsContainer {
    position: absolute;
    height: 7em;
    top: 2em;
    width: 100%;
    font-family: lato;
    font-weight: 200;
    color: #939E9F;
    background: #242628;
    opacity: 0;
    visibility: hidden;
    z-index: 100;
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: hidden;
}

.Time-options {
    cursor: pointer;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius:  4px;
    overflow: hidden;
}

.Time-input-field:focus + .Time-optionsContainer,
.Time-optionsContainer:active {
    visibility: visible;
    opacity: 1;
}
