<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="table-layout.css">
    <script type="text/montage-serialization">
    {
        "owner": {
            "properties": {
                "element": {"#": "owner"}
            }
        },

        "rowRepetition": {
            "prototype": "montage/ui/repetition.reel",
            "properties": {
                "element": {"#": "rowRepetition"}
            },
            "bindings": {
                "content": {"<-": "@owner.rows"}
            }
        },

        ":rowIteration": {
           "alias": "@rowRepetition:iteration"
        }
    }
    </script>
</head>
<body>
    <div data-montage-id="owner" class="Table">
        <div data-param="table-header-columns" class="Table-header-columns"></div>
        <div data-montage-id="rowRepetition" class="Table-row-group">
            <div data-param="table-row" class="Table-row"></div>
        </div>
        <div class="Table-footer">
            <div data-param="table-footer"></div>
        </div>
    </div>
</body>
</html>
