.Table {}

/* Table-header-columns */

.Table-header-columns {
    display: flex;
    align-items: center;
    background: #1a1d1f;
    background: #333e4a;
    border: 1px solid #1a1d1f;
}

/* Row */

.Table-row-group    {
    width: 100%;
    border: 1px solid #1a1d1f;
    border-top: none;
    background-color: #2A2E33;
}

.Table-row {
    display: flex;
    flex: 1;
    align-items: center;
    position: relative;
    transition: background-color .15s ease-in-out;
}

.Table-cell {
    flex: 1;
    flex-shrink: 0;
    padding: .5em;
    font-weight: 200;
}

/* .Table-row-group .Table-row:nth-child(odd) { background-color: rgba(0,0,0,.1); } */

.Table-row-group .Table-row:hover { background-color: rgba(59, 110, 162, 0.05); }

/* Caption */

.Table-caption {
    padding: .5em;
    text-align: right;
}
