.Main{
    padding:0 2em;
}

.Main ul{
    list-style:none;
    padding:0;
}

.Main a{
    color:#0D65A0
}

.Main a:hover{
    color:rgb(17, 131, 208);
}

.color{
    display:inline-block;
    width:8em;
    height:3em;
}

.color:before{
    display:inline-block;
    padding:0.5em;
    font-weight:200;
    font-family:'lato';
    font-size:.8em;
}

.color.color-blue:nth-child(1){
    background:#2089D3;
}

.color.color-blue:nth-child(1):before{
    content:'--blue-lighten-2';
}

.color.color-blue:nth-child(2){
    background:#0D65A0;
}

.color.color-blue:nth-child(2):before{
    content:'--blue-lighten-1';
}

.color.color-blue:nth-child(3){
    background:#0C5688;
}

.color.color-blue:nth-child(3):before{
    content:'--blue';
}

.color.color-blue:nth-child(4){
    background:#093A51;
}

.color.color-blue:nth-child(4):before{
    content:'--blue-darken-1';
}

.color.color-blue:nth-child(5){
    background:#0B1E29;
}

.color.color-blue:nth-child(5):before{
    content:'--blue-darken-2';
}

.color.color-orange:nth-child(1){
    background:#D78F2A;
}

.color.color-orange:nth-child(1):before{
    content:'--orange-lighten-2';
}

.color.color-orange:nth-child(2){
    background:#DE7225;
}

.color.color-orange:nth-child(2):before{
    content:'--orange-lighten-1';
}

.color.color-orange:nth-child(3){
    background:#D95B1B;
}

.color.color-orange:nth-child(3):before{
    content:'--orange';
}

.color.color-orange:nth-child(4){
    background:rgb(195, 81, 24);
}

.color.color-orange:nth-child(4):before{
    content:'--orange-darken-1';
}

.color.color-orange:nth-child(5){
    background:rgb(172, 72, 21);
}

.color.color-orange:nth-child(5):before{
    content:'--orange-darken-2';
}
