.FileUpload {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 1em;
}

.FileUpload-path {
    font-family: lato;
    font-weight: 200;
    font-size: .75em;
    margin-bottom: .5rem;
}

.FileUpload-button {
    @apply --button;
    display: inline-block;
    vertical-align: middle;
    line-height: 2.5em;
    margin-bottom: .5rem;
    margin-right: 1rem;
}

.FileUpload-input {
    position: absolute;
    left: -9999px;
}

.FileUpload-progress {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
