.TimeOption {
    line-height: 1em;
    padding: .25em .5em;
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none;
    -webkit-user-select: none;
}


.TimeOption:hover {
    color: #fff;
    background-color: rgba(255,255,255,.1);
}

.TimeOption.selected {
    background-color: #0C5688;
    color: #fff;
    pointer-events: none;
}
