.MultipleSelect {
    min-width: 16em;
    margin-bottom: 1em;
}

.MultipleSelect-input {
    position: relative;
    margin-bottom: .5em;
}

.MultipleSelect-input-field.has-options:focus {
    border-bottom-right-radius: 0;
    border-bottom-left-radius:  0;
}

.MultipleSelect-input-clearButton,
.MultipleSelect-input-add {
    position: absolute;
    transition-property: visibility, opacity;
    transition-duration: .2s;
    padding: .25em;
    height: 1.2em;
    width:  1.2em;
    top: 50%;
    right: .5em;
    margin-top: -.6em;
    border-radius: 1em;
}


.MultipleSelect-input-clearButton {
    color: #333;
    transform: rotate(45deg);
    background: #ddd;
    border-radius: 2em;
    cursor: pointer;
    outline: none;
    visibility: hidden;
    opacity: 0;
}

/*  add icon */

.MultipleSelect-input-add {
    height: 1.2em;
    width:  1.2em;
    color: rgba(255,255,255,.8);
    background: #1E963F;
    opacity: 1;
    pointer-events: none;

    @nest .MultipleSelect.disabled & {
        opacity: .5;
    }
}

.MultipleSelect-input-options {
    /* Fix - should I have to do this? */
    position: absolute;
    display: flex;
    top: 2em;
    left: 0;
    right: 0;
    height: 8.2em;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius:  3px;
    color: #333;
    background-color: #ddd;
    border: 1px solid #2B9CD8;
    border-top: none;
    box-shadow: 0 2px 4px rgba(0,0,0,.3);
    z-index: 100;
    overflow-x: hidden;
    visibility: hidden;
    opacity: 0;
    transition-property: visibility, opacity;
    transition-duration: .2s;

    & .Scrollview-transform {
        display: block;
    }
}

.MultipleSelect-input-error {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #E0003A;
    color: #fff;
    font-weight: 300;
    padding: .5em;
    transform: translateY(100%);
    z-index: 1;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,.3);
    visibility: hidden;
    opacity: 0;
    transition-property: visibility, opacity;
    transition-duration: .2s;
}

.MultipleSelect-valuesContainer {
    position: relative;
    box-sizing: border-box;
    display: flex;
    color: #FFF;
    height: 7.25em;
    padding: .25em;
    width: 100%;
    background: rgba(0, 0, 0, .25);
    background: #242628;
    border-radius: .3em;
    border: 1px solid transparent;
    border-top: 1px solid rgba(0, 0, 0, .23);
    border-bottom: 1px solid rgba(255, 255, 255, .15);
    transition-property: border-color, background-color, opacity;
    transition-duration: .25s;

    & .Scrollview-transform {
        display: block;
    }
}

/* Empty State */

.MultipleSelect-valuesContainer .Scrollview.is-empty:after {
    content: attr(data-emptyMessage);
    position: absolute;
    color: rgba(255,255,255,.3);
    font-weight: 300;
    font-family: 'lato';
    height: 1em;
    line-height: 1em;
    left: .5em;
    right: .5em;
    top: 50%;
    text-align: center;
    margin-top: -.5em;

    @nest .MultipleSelect.disabled & {
        display: none;
    }
}

/*

States

*/

.MultipleSelect-input-field.has-options:focus + .MultipleSelect-input-options.has-content,
.MultipleSelect-input-options:active,
.MultipleSelect-input.has-value .MultipleSelect-input-clearButton,
.MultipleSelect-input.has-error .MultipleSelect-input-error {
    visibility: visible;
    opacity: 1;
}

.MultipleSelect-input.has-value .MultipleSelect-input-clearButton {
    z-index: 1;
}

.MultipleSelect-input.has-error .MultipleSelect-input-field {
    border-color: #E0003A;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

/* disabled */

.MultipleSelect.disabled .MultipleSelect-valuesContainer {
    border-color: transparent;
    opacity: .5;
    background-color: rgba(0,0,0,.1);
}


