:root {
    --fieldtitleWidth: 9rem;
}

.Field {
    position: relative;
    margin-bottom: 1em;
    min-height: 2em;
    display: flex;
    flex-direction: column;

    & > div:first-child {
        min-height: 2rem;
        display: flex;
        flex: 1;
        /* flex-shrink: 0; */
    }
}

.Field.is-disabled {
    cursor: not-allowed;
}

.Field + .Field { margin-top: 0; }

.Field > * {
    font-family: "Lato";
    font-size: 1em;
}

.Field-title,
.Field-control {
    /* outline: 1px solid red; */
    align-self: flex-start;
    /* display: inline-block; */
    /* vertical-align: middle; */
}

/* Title */

.Field-title {
    position: relative;
    display: flex;
    align-items: center;
    height: auto;
    line-height: 1.25em;
    width: var(--fieldtitleWidth);
    margin-right: 1.5rem;
    transition: opacity .25s;
}

.Field.is-mandatory .Field-title:after {
    /* position: absolute; */
    margin-left: .25em;
    content: "*";
    color: var(--red);
}

.Field.is-disabled .Field-title { opacity: .5; }

/* Control */

.Field-control {
    flex: 1;
}

/* Field-info Icon */

/* moves icon after isMandatory asterisk */
.Field-info-condition { order: 1; }

.Field-info.Button {

    & svg {
        height: 1.2em;
        width:  1.2em;
    }

    @nest .help-is-shown & {
        color: var(--accent);
    }
}

/* Field Info */

/* .Field-info-description {
    position: absolute;
    color: var(--black);
    font-size: .65em;
    font-weight: 300;
    padding: .75em 1em;
    left: -.8em;
    top:    2.5em;
    width: 15em;
    border-radius: 4px;
    color: var(--black);
    border-radius: 0.3em;
    background: rgba(2555,255,255,1);
    box-shadow: 0 2px 4px rgba(0,0,0,.5);
    z-index: 2000;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-1em);
    transition: all .25s ease-out;
}

.Field-info-description:after {
    position: absolute;
    content: '';
    background: var(--white);
    height: 1.2em;
    width:  1.2em;
    left: 1em;
    top: -.5em;
    border-radius: .2em;
    transform: rotate(45deg);
    z-index: 5;
} */

/* Error Message */

.Field-error {
    display: none;
    position: relative;
    width: 100%;
    background: var(--red);
    padding: .5em;
    padding-top: .2em;
    font-weight: 300;
    color: var(--white);
    border-bottom-left-radius:  4px;
    border-bottom-right-radius: 4px;
}

.Field.has-error .Field-error {
    display: block;
}

/* States */

.Field.has-error .Field-control input,
.Field.has-error .Field-control textarea {
    border-color: var(--red);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.Field.is-validated .Field-control input,
.Field.is-validated .Field-control textarea {
    border-color: var(--green);
}

.Field-info:hover {
    color: var(--white);
    border-color: var(--white);
}

.Field-info.is-expanded {
    background: var(--accent);
    color: var(--white);
}

.Field-info.is-expanded .Field-info-description {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

/* Help */

.Field-help {
    display: none;

    @nest .help-is-shown & {
        display: block;
    }
}





