.MultipleSelectOption {
    cursor: pointer;
    padding: .25em .5em .35em;
    font-family: 'lato';
    font-weight: 200;
}

/*
.MultipleSelectOption:hover,
*/
.MultipleSelectOption.selected {
    background: #2B9CD8;
    color: #fff;
}
