.ViewSelect {
    display: flex;
    position: relative;
    z-index: 1;
    height: 2em;
    width:  3.2em;
    cursor: pointer;
    outline: none;
}

.ViewSelect * {
    user-select: none;
}

.ViewSelect-arrowIcon {
    text-align: center;
    width: 2em;
    padding: .2em;
    color: #FFF;
    line-height: 1.5em;
    margin-left: -1px;
    border: 1px solid grey;
    background-color: #333;
}

.ViewSelect-arrowIcon svg {
    transform: rotate(90deg);
}

.ViewSelect-options {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* States */

.ViewSelect.is-expanded .ViewSelectOption {
    visibility: visible;
    opacity: 1;
}

.ViewSelectOption.selected {
    visibility: visible;
    opacity: 1;
    order: 0;
    background: #555;
}

.ViewSelect.is-expanded .ViewSelectOption.selected {
    cursor: default;
}

.ViewSelectOption:hover {
    background: #555;
}
