.SelectOptions {
    position: absolute;
}

.SelectOptions.montage-Overlay--visible .Select-options-scrollview {
    height: 100%;
    width: 100%;
}


.SelectOptions.montage-Overlay--visible .Select-options-scrollview {
    visibility: visible;
    opacity: 1;
}
