.SelectOptions {
    position: absolute;
    display: flex;
}


.SelectOptions.montage-Overlay--visible .Select-options-scrollview {
    visibility: visible;
    opacity: 1;
}


/* scrollview override */
.SelectOptions .Scrollview-transform {
    flex: none;
    display: block;
}

.SelectOptions .ScrollviewContent {
    width: 100%;
}
