.RadioButtonFieldGroup {

    &.RadioButtonFieldGroup--block { margin-top: 0;}

    &.has-error .ControlError {
        display: block;
    }

    @nest .Field.disabled & {
        opacity: .5;
    }

    &.is-disabled {
        cursor: not-allowed;
    }
}

.Field.disabled .RadioButtonFieldGroup {
    opacity: .5;
}
