.RadioButtonFieldGroup {}

.RadioButtonFieldGroup.RadioButtonFieldGroup--block {
    margin-top: 0;

    & .RadioButtonFieldGroup-option {
        display: block;
    }
}

.Field.disabled .RadioButtonFieldGroup {
    opacity: .5;
}
