.DayCell {
    width: calc(100% / 7);
    cursor: pointer;
    line-height: 1em;
    padding: .25rem 0;
}

.DayCell:hover {
    color: var(--white);
    background-color: var(--transparent--lighten);
}

.DayCell.is-today {
    font-weight: bold;
}

.DayCell.is-selected {
    background: var(--color-selected);
}

.DayCell.is-filler {
    opacity: 0.5;
    cursor: inherit;
    pointer-events: none;
}

.DayCell.is-filler:hover {
    color: inherit;
    background-color: inherit;
}
