.DayCell {
    width: calc(100% / 7);
    cursor: pointer;
}

.DayCell:hover {
    color: #fff;
    background-color: rgba(255,255,255,.1);
}

.DayCell.is-today {
    font-weight: bold;
}

.DayCell.is-selected {
    background: #0095d5;
    color: #fff;
    font-weight: 400;
}

.DayCell.is-filler {
    opacity: 0.5;
    cursor: inherit;
    pointer-events: none;
}

.DayCell.is-filler:hover {
    color: inherit;
    background-color: inherit;
}
