.MultipleSelectValue {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    background: none;
    margin: .1em;
    background-color: #242628;
}

.MultipleSelectValue:nth-child(even) {
    background: rgba(255,255,255,.02);
}

.MultipleSelectValue-label.blueShark-TextField {
    flex: 1;
    background: none;
    border-color: transparent;
    font-family: 'lato', sans-serif;
    font-weight: 200;
    font-size: 1em;
    color: #ddd;
    padding: .25em .5em .35em;
    margin-right: .25em;
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    border-radius: 0;
}

.MultipleSelectValue-label.blueShark-TextField:hover {
    background: rgba(255,255,255,.1);
    cursor: text;
}

.MultipleSelectValue-label.blueShark-TextField:focus {
    cursor: text;
    color: #FFF;
    background: none;
}

.MultipleSelectValue-delete {
    align-self: center;
    height: 1.2rem;
    width:  1.2rem;
    padding: .25em;
    color: #E0003A;
    transform: rotate(45deg);
    cursor: pointer;
    border: 1px solid #E0003A;
    border-radius: 50%;
    outline: none;
    margin-right: .25em;
}

.MultipleSelectValue-delete:hover {
    background: #E0003A;
    color: #fff;
}

.MultipleSelectValue-error {
    position: relative;
    z-index: 1;
    padding: .5em;
    width: 100%;
    font-family: 'lato';
    font-weight: 200;
    display: none;
    margin-bottom: .5em;
}

/* States */

.MultipleSelectValue.has-error .MultipleSelectValue-label {
    border-color: #E0003A !important;
    border-bottom: none !important;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.MultipleSelectValue.has-error .MultipleSelectValue-error {
    display: block;
}

.MultipleSelectValue.has-error .MultipleSelectValue-error:before {
    content: '';
    position: absolute;
    top: 0;
    left: -.25em;
    right: -.25em;
    bottom: 0;
    background: #E0003A;
    z-index: -1;
}

/* $fix - Temporary Styles ---------------------------------- */

.MultipleSelect-values:empty { display: none; }

.MultipleSelectValue-handler {
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab;
    padding: 0 0.5em;
    background: #2F3233;
    display: none;
}

.MultipleSelectValue.draggable .MultipleSelectValue-handler {
    display: block;
    background-image: radial-gradient(rgba(255,255,255,.5), rgba(255,255,255,0) 30%);
    background-size:8px 8px;
    border-radius: 2px;
}

.MultipleSelectValue.draggable .MultipleSelectValue-handler:hover {
    background-image: radial-gradient(rgba(255,255,255,1), rgba(255,255,255,0) 30%);
}

.MultipleSelectValue.dragged {
    opacity: 0.5;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
        user-select: none;
}

.MultipleSelectValue.dragOver {
    border-top: 5px solid #2B9CD8;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
        user-select: none;
}
