:root {
    --white:            #ffffff;

    --red:              #E0003A;

    --green:            #1E963F;

    --yellow-orange:    #DE9B16;

    --purple:           #672BD8;

    --aqua:             #008C84;

    --maroon:           #6D2A2A;

    --blue:             #0C5688;
    --blue-darken-1:    #093A51;
    --blue-darken-2:    #0B1E29;
    --blue-lighten-1:   #0D65A0;
    --blue-lighten-2:   #2089D3;

    --orange:               #D95B1B;
    --orange-lighten-1:     #DE7225;
    --orange-lighten-2:     #D78F2A;
    --orange-darken-1:      color(var(--orange) l(-5%));
    --orange-darken-2:      color(var(--orange) l(-10%));

    --black:        #0F1213;
    --black-1:      #0F1213;

    --grey:         #2F3233;
    --grey-1:       #939E9F;
    --grey-2:       #B1BCBE;
    --grey-3:       #E0E5E5;

    --grey-blue:    #242628;
    --grey-blue-1:  #2A2E33;
    --grey-blue-2:  #2F3233;

    --main-bg-color:    #16171A;
    --main-text-color:  #e6e6e6;

    --color-success: var(--green);
    --color-create:  var(--green);
    --color-alert:   color(var(--red) alpha(-10%));
    --color-selected: #2089d3;

    --color-text-dark: #16171A;

    --space:        1em;
    --space-dbl:    calc(var(--space) * 2);
    --space-half:   calc(var(--space) / 2);

    --shadow-1: rgba(0,0,0,.3);

    --input-focus: {
        outline: none;
        box-shadow: inset 0 0 0 1px var(--blue-lighten-2);
    }

    --transparent--darken:  rgba(0,0,0,.1);
    --transparent--lighten: rgba(255,255,255,.1);

    --flex-column {
        display: flex;
        flex-direction: column;
        min-height: 0;
    }

    --border-radius: 4px;

    --button: {
        box-sizing: border-box;
        font-family: "Lato", Helvetica, Arial, sans-serif;
        font-size: .75em;
        font-weight: 300;
        min-width: 6em;
        padding: 0 1em;
        text-align: center;
        color: var(--main-text-color);
        background: white;
        border-radius: .3em;
        border: 0;
        margin: 0;
        cursor: pointer;
        appearance: none;
        text-shadow: 0 1px 0 rgba(0, 0, 0, .5);
        background-color: #666;
        background-image: linear-gradient(transparent, rgba(0, 0, 0,.2));
        box-shadow:
            inset 0 1px rgba(255, 255, 255, .15),
            inset 0 -1px rgba(0, 0, 0, .2),
            0 1px 2px rgba(0, 0, 0, .4);
        transition: all .25s ease-in-out;

        &:hover  {
            background-image: linear-gradient(transparent, transparent);
            box-shadow:
                inset 0 1px rgba(255, 255, 255, .15),
                inset 0 -1px rgba(0, 0, 0, .3),
                0 2px 6px 1px rgba(0, 0, 0, .4);
        }

        &:active {
            background-image: linear-gradient(rgba(0, 0, 0, .2), transparent);
            box-shadow:
                inset 0 -1px rgba(255, 255, 255, .1),
                inset 0 1px rgba(0, 0, 0, .3);
            outline: none;
            text-shadow: none;
        }

        &:focus { @apply --input-focus; }

        &.montage--disabled {
            box-shadow:
                inset 0 1px rgba(255, 255, 255, 0),
                inset 0 -1px rgba(0, 0, 0, 0),
                0 1px 2px rgba(0, 0, 0, 0);
            background-image: linear-gradient(transparent, transparent);
            text-shadow: 0 1px 0 rgba(0, 0, 0, 0);
            cursor: default;
            cursor: not-allowed;

            &:not(.is-processing) {
                opacity: .5;
                background-color: #666;
            }
        }
    }

    --button-label: {
        display: inline-block;
        white-space: nowrap;
        vertical-align: middle;
        line-height: 2.5em;

        @nest .Button:not(.montage--disabled, .Button--naked):active & {
            transform: translateY(.05em);
        }
    }
}
