.TextArea {

    /* control error style */
    & .ControlError {
        @apply --control-error--input;
    }

    &.has-error .ControlError {
        display: block;
    }
}

.TextArea-input {
    @apply --input-field;
    height: 5em;
    padding: 0.25em .5em;
    resize: vertical;

    &:focus { border-color: var(--color-focus); }

    &.montage--disabled {
        background: var(--color-input-bg--disabled);
        border-color: transparent;
        opacity: .5;
        cursor: not-allowed;
    }

    /* input error style */
    @nest .TextArea.has-error & {
        @apply --input-error;
    }
}

