.RadioButtonField {
    margin-right: 1em;
    display: inline-block;
}

.RadioButtonField + .RadioButtonField { margin-top: .5em; }

.RadioButtonField:first-child { margin-top: 0; }

/* Control */

.RadioButtonField-control { margin-right: .25em; }

/* Label */

.RadioButtonField-label {
    font-family: 'lato', 'helvetica neue', helvetica, sans-serif;
    font-weight: 300;
    color: #ddd;
    cursor: pointer;
}

.RadioButtonField-control.montage--disabled + label {
    cursor: not-allowed;
    opacity: .5;
}

/* Block Modifier */

.FieldRadioGroup--block .RadioButtonField { display: block; }
